<%= comment.user.uname %>: <%= comment.body %>
<%# comment.created_at.strftime("%I:%M %p %d-%b-%y") %>
<!-- <div id="comment-<%= comment.id %>">
	<%= comment.user.username %>:
	<%# if current_user && current_user == comment.user %>
		<%# link_to "Delete", post_comment_path(@post, comment), method: :delete, remote: true, style: "floate: right" %>
	<%# end %> 
	<%= comment.body %>
</div> -->

